
<!-- 1. to add a jpg imag* or url -->
<!-- submitting section -->
<div class="panel">
  <div class="panel-body">
    <form class="addphotoform" action="/<%= @album.id %>/new_back" method='POST' style='center'>
      <h4 class="list-group-item-heading">Add a new photo:</h4>

      <div class="form-group">
        <input class="form-control" type='text' name='image' placeholder='Write down the URL.' />
      </div>
      <div class="form-group">
        <input class="form-control" type='text' name='title' placeholder='Name of Background' />
      </div>
      <form action= '/new_back' style='display:inline'>
        <button type='submit' class="btn btn-info">Save to background list</button>
      </form>

    </form>
  </div>
</div>

<!-- 2. view the saved pictures from database -->

<br />

<!-- Body -->
<% @all_backs.each do |back| %>

<div class="radio">
  <label>
    <input type="radio" name="backp" id='<%= back.id %>' checked>
    <img src = '<%= back.image %>'/>
  </label>
</div>
<form action='/<%= @album.id %>/back_lists/delete/<%= back.id %>' style='display:inline'>
  <button type= 'submit' class="btn btn-danger">
    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Delete </button>
  </form>
<% end %>
<!-- 3. change the background and auto. go back to album* -->





<a href="/" class="btn btn-danger"> Go back to album lists!</a>
